*.pyc
*.pyo
*/*.pyc
*/*.pyo
*.sqlite3
.installed.cfg


*~
*.~
*/*~
*/*.~
/.trash
/.cache
.logs/
pytest.ini
*.egg-info

.vscode/

.local/*
!.local/git-keep
**/*.local*

XDG_CACHE_HOME

lib64

local_settings.py
*/local_settings.py

_local_settings.py
*/_local_settings.py


local_test_settings.py
*/local_test_settings.py

_local_test_settings.py
*/_local_test_settings.py

# migrations
# */migrations

*/**/wsgi_venv.txt
*/**/wsgi_venv.py
venv
*/venv


*.pyc
/db.sqlite3
.DS_Store
.env
*/settings/local.py
/staticfiles/*
/mediafiles/*
__pycache__/
.pytest_cache/


# coverage result
.coverage
/coverage/

# pycharm
.idea

# data
*.dump

# npm
node_modules/
npm-debug.log

#Folders
.DS_Store


# General
/venv/



# templated email
tmp_email/


/static

#vs code
.vscode/*

certs

depo*.csv

*.log

build
dist

*.egg-info

third_party
third_party/*
secrets/google/*
bin/*.csv
