
MANIFEST

__pycache__/
build/
dist/
tmp/
venv*/

.cache/
.idea/
.tox/
.venv*/
.vscode/
.local/*

*.swp
*.pyc
*.egg-info/



*.pyc
*.pyo
*.pyc
*.pyo
*.sqlite3

# coverage result
.coverage
/coverage/
.pytest_cache/

#Folders
.DS_Store

